body{
    font-family: 'Raleway', sans-serif;
    margin: 0;              /* Permet au footer de prendre la totalité de la largeur */
}

.BlockPage{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

    /* HEADER */

header{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

nav li a{
    padding: 41px;
}

.navigation:hover{
    border-top: 4px solid #0065fc;
    color: #0065fc;
}

.SignIn{
    color: #0065fc;
    margin-left: 42px;
    font-weight: bold;
}

@media all and (max-width: 1024px)
{
    .blocPage{
        width:100%;
        margin: auto;
    }

    header{
        display:flex;
        flex-direction: column;
    }

    nav li a{
        padding: 20px 60px;
    }

    nav li{
        width: 100%;
        margin-top: 20px;
    }

    .navigation{
        border-bottom: 4px solid #F2F2F2;
    }

    .navigation:hover{
        border-bottom: 4px solid #0065fc;
        border-top: none;
    }

    .SignIn{
        position: absolute;
        right: 40px;
        top: 45px;
    }

}


/* MAIN */


.intro{
    padding-top: 40px;
}

.intro p{
    margin-top: -10px;
}

.search{
    display: flex;
    align-items: center;
}

.search i{
    color: black;
    background-color: #F2F2F2;
    padding: 17px 18px;
    border-radius: 15px 0 0 15px;
}

input{
    padding: 15px;
    border: 2px solid #F2F2F2;
    outline: none;
}

::placeholder{
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}

.search a{
    background-color: #0065fc;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 0 10px 10px 0;
}

.filters{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.filters p{
    font-weight: bold;
}

.tag{
    display: flex;
}

.TagElement{
    display: flex;
    align-items: center;
    margin-left: 45px;
    border: 4px solid #F2F2F2;
    border-radius: 30px 30px;
}

.BckgrdIcone{
    display:flex;
    align-items: center;
    justify-content: center;
    color:#0065fc;
    background-color: #Deebff;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 30px;
}

.TagElement a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px 0 20px;
}

.TagElement:hover{
    background-color: #Deebff;
    cursor: pointer;
}

.TagElement a:hover{
    color: #0065fc;
}

@media all and (max-width: 1024px)
{
    .filters{
        display: flex;
        flex-wrap: wrap;
    }

    .tag{
        flex-wrap: wrap;
        margin-left: -45px;
    }
}

.info{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border: 3px solid #F2F2F2;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin-right: 10px;
}

.accomodation{                                      /* Miniatures hébergements */ 
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 1024px)
{
    .accomodation{
        display: flex;
        flex-direction: column-reverse;
    }

    .popular{
        background: #F2F2F2;
        min-width: 100%;
    }

    .PopMiniature{
        min-width: 100%;
    }

    .PopDescription h3{
        max-width: 100%;
    }
    
    .PopDescription p{
        min-width: 100%;
    }
    
    .PopStars{
        min-width: 100%;
    }


}

.Marseille{                                         
    width: 800px;
    height: 600px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px;
}

.Marseille h2{
    margin-bottom: 40px;
}

.miniature{
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    width: 225px;
    height: 177px;
    line-height: 5px;
    box-shadow: 0px 0px 5px #cecece;
}

.image{
    height: 105px;
    width: 225px;
}

.image img{
    object-fit: cover;
    border-radius: 15px 15px 0 0; 
}

.description h3{ 
    color: black;
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 15px;
}

.description p{ 
    color: black;
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 15px;
}

.stars{
    color: #0065FC;
    padding-left: 10px;
    font-size: small;
}

.grey{
    color: #cecece;
}

a{
    text-decoration: none;
    color: black;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content a{
    margin-bottom: 40px;
}

.content a:hover{
    transform: scale(1.05);
}

.popular{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px;
    width: 380px;
    height: 600px;
}

.title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.chart{
    font-size: x-large;
}

.PopMiniature{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    width: 370px;
    height: 135px;
    line-height: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px #cecece;
}

.PopImage{
    height: 134px;
    width: 115px;
}

.PopImage img{
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.PopDescription h3{
    color: black;
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 17px;
    width: 160px;
}

.PopDescription p{
    color: black;
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 17px;
}

.PopStars{
    color: #0065FC;
    padding-top: 15px;
    padding-left: 10px;
    font-size: small;
}

.best a:hover{
    transform: scale(1.05);
}

.activities h2{                              /* Activité */
    margin-top: 60px;
}

.preview{
    display: flex;
    justify-content: space-between;
}

.preview p{
    margin: 0;
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
}

.BlockMiniature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PreMiniature1 img{
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 350px;
    object-fit: cover;
}

.PreMiniature1{
    width: 280px;
    height: 390px;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.PreMiniature2 img{
    border-radius: 20px 20px 0 0;
    width: 330px;
    height: 150px;
    object-fit: cover;
}

.PreMiniature2{
    width: 330px;
    height: 190px;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.PreMiniature3 img{
    border-radius: 20px 20px 0 0;
    width: 330px;
    height: 100px;
    object-fit: cover;
}

.PreMiniature3{
    width: 330px;
    height: 140px;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.PreMiniature4 img{
    border-radius: 20px 20px 0 0;
    width: 330px;
    height: 130px;
    object-fit: cover;
}

.PreMiniature4{
    width: 330px;
    height: 170px;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.preview a{
    color: black;
}

.preview a:hover{
    transform: scale(1.05);
}

@media all and (max-width: 375px)
{
    .preview{
        display: flex;
        flex-direction: column;
    }
}

footer{
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
}

.FootContent{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

footer a{
    color: black;
}

footer a:hover{
    text-decoration: underline;
}

.footer{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 20%;
}