body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    /* Permet au footer de prendre la totalité de la largeur */
}

.BlockPage {
    width: 95%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    font-size: 1.2em;
}

nav li a {
    padding: 41px;
}

.navigation:hover {
    border-top: 4px solid #0065fc;
    color: #0065fc;
}

.SignIn {
    color: #0065fc;
    font-weight: bold;
    margin-left: 42px;
}

/* MAIN */

.intro {
    padding-top: 40px;
}

.intro p {
    margin-top: -10px;
}

.search {
    display: flex;
    align-items: center;
}

.search i {
    color: black;
    background-color: #F2F2F2;
    padding: 17px 18px;
    border-radius: 15px 0 0 15px;
}

input {
    padding: 15px;
    border: 2px solid #F2F2F2;
    outline: none;
}

::placeholder {
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}

.search a {
    background-color: #0065fc;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 0 10px 10px 0;
}

#SearchIcon {
    display: none;
}

.filters {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filters p {
    font-weight: bold;
    margin-right: 20px;
}

.tag {
    display: flex;
    flex-wrap: wrap;
}

.TagElement {
    display: flex;
    align-items: center;
    margin-right: 45px;
    border: 4px solid #F2F2F2;
    border-radius: 30px 30px;
}

.BckgrdIcone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    background-color: #Deebff;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.TagElement a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px;
}

.TagElement:hover {
    background-color: #Deebff;
    cursor: pointer;
}

.TagElement a:hover {
    color: #0065fc;
}

.info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border: 3px solid #F2F2F2;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin-right: 10px;
}

/* Miniatures hébergements */

.accomodation {
    display: flex;
    justify-content: space-between;
}

.Marseille {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px;
    margin-right: 30px;
}

.Marseille h2 {
    margin-bottom: 40px;
}

.miniature {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    width: 28%;
    height: 177px;
    line-height: 0.3em;
    box-shadow: 0px 0px 5px #cecece;
}

.image {
    width: 100%;
    height: 105px;
}

.image img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.description h3, .description p {
    color: black;
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 15px;
}

.stars {
    color: #0065FC;
    padding-left: 10px;
    font-size: small;
}

.grey {
    color: #cecece;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content a {
    margin-bottom: 40px;
}

.content a:hover {
    transform: scale(1.05);
}

/* Populaires */

.popular {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 20px 30px;
    width: 45%;
    height: 600px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    width: 100%;
}

.chart {
    font-size: x-large;
}

.PopMiniature {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    width: 97%;
    height: 135px;
    line-height: 1em;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px #cecece;
}

.PopImage {
    width: 115px;
    height: 100%;
}

.PopImage img {
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.PopDescription h3 {
    color: black;
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 1em;
    width: 75%;
}

.PopDescription p {
    color: black;
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 1em;
}

.PopStars {
    color: #0065FC;
    padding-top: 15px;
    padding-left: 10px;
    font-size: small;
}

.best a:hover {
    transform: scale(1.05);
}

/* Activité */

.activities h2 {
    margin-top: 60px;
}

.preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.preview p {
    margin: 0;
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
}

.BlockMiniature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.PreMiniature1 {
    width: 100%;
    height: 390px;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.PreMiniature1 img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.PreMiniature2 {
    width: 100%;
    height: 190px;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.PreMiniature2 img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.PreMiniature3 {
    width: 100%;
    height: 140px;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.PreMiniature3 img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 100% 30%;
}

.PreMiniature4 {
    width: 100%;
    height: 170px;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.PreMiniature4 img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: 100% 30%;
}

.preview a {
    color: black;
}

.preview a:hover {
    transform: scale(1.05);
}

footer {
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
}

.FootContent {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

footer a {
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    gap: 20%;
    margin-left: 3%;
}

@media all and (max-width: 1340px) {
    .accomodation {
        display: flex;
        flex-direction: column-reverse;
    }
    .Marseille {
        margin-right: 0;
    }
    .miniature {
        width: 30%;
    }
    .popular {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        height: 300px;
    }
    .title {
        display: flex;
        justify-content: space-between;
        width: auto;
        margin-left: 30px;
        margin-top: 20px;
    }
    .chart {
        margin-right: 0.9em;
    }
    .best {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 30px;
        gap: 5%;
    }
    .content a:hover {
        transform: scale(1.02);
    }
    .best a:hover {
        transform: scale(1.01);
    }
}

@media all and (max-width: 1170px) {
    .best {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .popular {
        height: 100%;
    }
}

@media all and (max-width: 1030px) {
    .preview p {
        font-size: 0.8em;
        padding: 6px;
    }
    .TagElement {
        margin-bottom: 10px;
    }
}

@media all and (max-width: 890px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 800px) {
    .preview {
        display: flex;
        flex-direction: column;
    }
    .BlockMiniature {
        width: 100%;
    }
    .PreMiniature1 {
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
    }
    .PreMiniature1 img {
        width: 100%;
        height: 200px;
    }
    .PreMiniature2 {
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
    }
    .PreMiniature2 img {
        width: 100%;
        height: 200px;
    }
    .PreMiniature3 {
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
    }
    .PreMiniature3 img {
        width: 100%;
        height: 200px;
    }
    .PreMiniature4 {
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
    }
    .PreMiniature4 img {
        width: 100%;
        height: 200px;
    }
    .preview a:hover {
        transform: scale(1.02);
    }
}

@media all and (max-width: 728px) {
    .Marseille {
        padding: 0;
        background-color: white;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .miniature {
        width: 98%;
        height: 230px;
    }
    .image {
        width: 100%;
        height: 150px
    }
    .popular {
        border-radius: 0;
    }
}

@media all and (max-width: 656px) {
    header {
        flex-direction: column;
        height: 100px;
    }
    .logo {
        position: absolute;
        left: 20px;
    }
    .menu {
        display: flex;
        justify-content: center;
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
    .navigation {
        border-bottom: 4px solid #F2F2F2;
        ;
        width: 50%;
        padding-bottom: 10px;
    }
    .navigation:hover {
        border-top: none;
        border-bottom: 4px solid #0065FC;
    }
    .SignIn {
        position: absolute;
        right: 20px;
        top: 42px;
    }
    body {
        width: 100%;
        font-size: 1em;
    }
    .HideText {
        display: none;
    }
    #SearchIcon {
        display: initial;
        background-color: #0065fc;
        color: white;
        margin-left: -15px;
        border-radius: 0 10px 10px 0;
    }
    .search a {
        background-color: white;
    }
}