#conteneur{
    border: 3px black solid;
    display: flex;
    margin: 80px;
}

.element{
    width: 150px;
    height: 100px;
}

.element:nth-child(1){
    background-color: blue;
	z-index:1;
}

.element:nth-child(2){
    background-color: yellow;
	z-index:2;
}

.element:nth-child(3){
    background-color: green;
}

.PopImage img{
    object-fit: cover;
    border-radius: 15px 0 0 15px; 
}

.PopImage{
    height: 134px;
    width: 115px;
}

.PopMiniature{
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    border-radius: 20px;
    width: 310px;
    height: 135px;
    line-height: 100%;
    box-shadow: 1px 1px 20px black;
}

.PopDescription h3, p{ 
    color: black;
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 17px;
}

.PopStars{
    color: #0065FC;
    padding-top: 10px;
    padding-left: 10px;
    font-size: small;
}

#grey{
    color: grey;
}

a{
    text-decoration: none;
}







.bckgrdIcone{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;    
}

.Aperçu img{
    border-radius: 20px 20px 0 0;
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.Aperçu{
    width: 250px;
    height: 390px;
    box-shadow: 0px 0px 20px #cecece;
    border-radius: 20px 20px 10px 10px;
}

.Aperçu p{
    margin: 0;
    font-weight: bold;
    padding-top: 5px;
}

.Aperçu a:hover{
    transform: scale(1.20);
}